.leftbar {}

.leftbar nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.leftbar nav>a, .profile>h2, .releases>h2, .top>h2 {
    font-size: 24pt;
    font-weight: 100;
    color: rgb(234, 234, 236);
    transition: 0.5s;
}

.leftbar nav>a:hover {
    color: burlywood;
}

.leftbar li {
    list-style: none;
}

.leftbar li a {
    transition: 0.5s;
}

.leftbar li a:hover {
    transform: scale(1.05, 1.05);
    color: white;
}

.profile>li, .releases>li, .top>li {
    font-size: 14pt;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobilebtn {
    display: none;
}

@media screen and (max-width:1201px) {}

@media screen and (max-width:1025px) {}

@media screen and (max-width:806px) {


    .leftbar nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        gap: 20px;
    }

    .profile, .releases, .top {
        width: 100%;
        text-align: center;
    }

    .profile>li, .releases>li, .top>li {
        width: 200px;
        text-align: center;
        margin: 0 auto;
    }

    .profile>li a, .releases>li a, .top>li a {

        margin: 0 auto;

    }

    .mobilebtn {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        /* transform: translate(-50%, 0); */
        cursor: pointer;
        z-index: 10;
    }

    .navMenu {
        background-color: rgb(50, 65, 68);
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        transition: left 1s;
    }

    .navMenu li {
        margin: 0 auto;
    }

    .alink {
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 25pt;

    }
    .active {
        left: 0;
    }
}

@media screen and (max-width:481px) {}

@media screen and (max-width:320px) {}